
\.idea/

bpu/ImageStreamer/**/*.so
bpu/ImageStreamer/**/*.o
bpu/ImageStreamer/**/*.lo

node_modules/**/*

processing/build-opencv/**/*

*.pyc

server/node_modules/**/*
server/public/**/*.min.js
server/public/**/*.min.js.map
server/public/**/*.min.css

shared/node_modules/**/*
bpu/ImageStreamer/mjpg_streamer

bpu/ImageStreamer/raspicam

processing/tools/euglena

processing/tools/euglenamovie

*.log

server/public/media/finalBpuDataLinks/finalBpuData

server/public/media/tars/

server/public/vendor/

server/app\.err

server/app\.out

controller/node_modules/

\.env

deployment\.js
