extends ../../layouts/default

block head
  title About

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-3
    div.col-sm-6
      div.page-header
        h1 Interactive Online Biology
      p.
        Interactive Online Biology Lab is an active research project at #[a(href="http://web.stanford.edu/group/riedel-kruse/index.html") Riedel-Kruse Lab] at Stanford University
        as part of a Ph.D thesis of #[a(href="http://cs.stanford.edu/~zhossain") Zahid Hossain]. The goal of the project is to develop technologies to provide
        interactive access to a real biology lab over the Internet at scale for concurrent users. This involves designing and implementing custom hardware, Biotic Processing Units (BPU),
        software infrastructure with distributed computing and user friendly interfaces.

      p.
        In this particular online lab, we provide a means to study the phototaxis of a single celled micro-organism called #[a(href="https://en.wikipedia.org/wiki/Euglena") Euglena Gracilis] through
        real experimentation but over the Internet. Users are allowed to run both Live Interactive or Pre-programmed Batch experiments through
        this website and later download data. Besides videos, the downloaded package contains light data, tracking data of every Euglena cells, and other meta data in Excel and JSON formats.
        Therefore, users need to only concentrate on experimental design - while running as many experiments as she wants
        - without having to worry about any wetlab logistics.
      div.page-header
        h3 References
        ol
            li #[a(href="http://dl.acm.org/citation.cfm?id=2702354") Hossain, Zahid, et al. "Interactive Cloud Experimentation for Biology: An Online Education Case Study." Proceedings of the 33rd Annual ACM Conference on Human Factors in Computing Systems. ACM, 2015.]
            li #[a(href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7087268&tag=1") Hossain, Zahid, Alice M. Chung, and Ingmar H. Riedel-Kruse. "Real-time and turn-based biology online experimentation." Remote Engineering and Virtual Instrumentation (REV), 2015 12th International Conference on. IEEE, 2015.]
      div.page-header
        h3 Contact
        ol
           li #[a(href="http://web.stanford.edu/group/riedel-kruse/contacts.html") Dr. Ingmar Riedel-Kruse]
           li #[a(href="http://cs.stanford.edu/people/zhossain/contact.html") Zahid Hossain]
    div.col-sm-3

